{%extends 'layouts/base.html'%}

{%block content%}
<h1>About my life idk</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dignissimos veniam omnis voluptatum. Blanditiis consequuntur eaque, ratione explicabo eos neque amet ducimus perspiciatis alias dolores accusamus sed? Distinctio, exercitationem quis dolore praesentium dolores doloribus pariatur quidem quas autem vero sed. Corrupti cum eius laborum nesciunt aliquid eligendi reiciendis voluptatem praesentium.</p>
{%endblock%}